body {
    /*background-color: gainsboro;*/
    /*background-color: #9BCEE9;*/

    background-color: rgba(152, 207, 230, 0.4);	
}
a {
    text-decoration: none;
}
input[type='password'],
input[type='text'],
input[type='email'] {
    width: 86%;
    border-radius:4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2px 4px;
    margin: 6px;
	margin-left: 0px;
}

.inset {
    width: 400px;
    padding: 30px;
    /*background: rgba(255,255,255,.65);*/
    background: whitesmoke;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.inset_signin {
    width: 500px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.inset_pw {
    width: 500px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.inset .header {
    margin-bottom: 10px;
}
.remember-forgot-section {
    width: 94%;
    text-align: left;
    margin: 8px auto;
    font-size: 10px;
}
.forgot {
    float: right;
    margin-top: 2px;
}
.footnote {
    position: relative;
    top: 14px;
    margin-top: 6px;
    font-size: 10px;
}


.submit_btn {
  font-size: 16px;
  background-color: #4CA8D1;
  color: #FFFFFF;
  border: 1px solid white;
}

.social_btn {
color: #fff;
font-size: 35px;
  /*          text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);

    margin-top: 5px;
	margin-bottom: 10px;
    padding: 5px 18px 5px 18px;
	*/
	margin-right: 10px;
	width: 70px;
	height: 60px; 
}

.social_btn:hover {
    /*box-shadow: 50px 50px 40000px rgba(0,0,0,.8);*/
    color: white;
}

.google_btn {
    background-color: #DD4B39;
}

.facebook_btn {
    background-color: #3B5998;
	font-size: 36px;
}

.osm_btn {
   /* background-color: white;*/
   	margin-right: 10px;
	border-radius: 5px;
	width: 70px;
	height: 60px; 
    color: black;
}

.osm_btn:hover {
    color:black;
	 box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}

.login_hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    /*border-top: 2px solid lightgray;*/
}


.btn:hover,
.btn.active {
    box-shadow: 1px 1px 9px rgba(0,0,0,.7);
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    display: inline;
    color: red;
    font-size: 12px;
}

.remember_label {
 font-size: 15px;
}

.forgot_text {
	font-size: 15px;
}

.rem_area {
	margin-left: 20px;
}

.no_account_text {
	font-size: 15px;
}

input[type=checkbox] {
  transform: scale(1.3);
}



