body {
    background-color: rgba(152, 207, 230, 0.4);	
}


button.sm {
  font-size: 100%;
  background-color: #4CA8D1;
  color: #FFFFFF;
  border: 1px solid white;
  width: 100px;
  height: 40px;
}

button.edsm {
   font-size: 100%;
   width: 150px;
   height: 40px;
}


input.save {
 /* font-size: 85%; */
  background-color: #4CA8D1;
  color: #FFFFFF;
  border: 1px solid white;
  margin: 5px auto;
  display: block;
   font-size: 100%;
   width: 100px;
   height: 40px;
}

.search-input {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
	border-radius: 100px;
}

/*adds buffer between rows*/
.top-buffer { 
  margin-top:15px; 
}

ul { 
  list-style:none; 
  padding:0px; 
}

#flickr_post{
background-color:white;
color:white;
padding:20px;
opacity:0.8;
border-style: solid; 
border-width: 5px;
border-color:#0063dc;
margin: 10px;
}

.leaflet-container {  /* all maps */
  width: 100%;
  height: 90%;
  padding: 20%;
  margin:0%;
}

#navigation{
	padding: 5px 0px 7px 3em;
  /*margin-right: 20px;*/
	}
	#navigation A {
		color: #9BCEE9;
		text-decoration: none;
		letter-spacing: 1px;
		margin-right: 1em;
		}
		#navigation A:hover {
			color: white;
			text-decoration: none;
		}
		#navigation A.current ,
		#navigation-left A.current:hover {
			color: #C30;
		}

.navigation-right{
  float: right;
  margin-top: 10px;
  text-align: center;
}

.navigation-left{
  float:left;
  margin-top: 10px;
  text-align: center;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar {
    margin-bottom: 0;
}


.leftside {
  padding-right: 10px;
  padding-left: 10px;
}

.pad {
  padding-right: 10px;
  padding-left: 10px;
}

.leftside .text {
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 2em;
}

.row-full > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}


.awesome-marker-half{
  background: url('images/markers-soft@half.png') no-repeat 0 0;
  width: 18px;
  height: 23px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  text-align: center;
}


.popup_event_div {
  text-align: center;
}


.popup_button {
  background: transparent;
  /*width: 25px;
  height: 25px;*/
  border: none;
  color: black;
}


.popup_button:hover {
 color: #4CA8D1;
}

.disabledbutton {
	z-index: 10;
    pointer-events: none;
    /*opacity: 0.4; */
}
