/**
 *	Basic Layout Theme
 *
 *	This theme uses the default layout class-names for all classes
 *	Add any 'custom class-names', from options: paneClass, resizerClass, togglerClass
 */

.ui-layout-pane { /* all 'panes' */
  background: #FFF;
  border: 1px solid #BBB;
  padding: 10px;
  overflow: auto;
}

.no-padding {
  padding: 0;
}

.ui-layout-pane-north {
  background-color: #4CA8D1;
}

.ui-layout-resizer { /* all 'resizer-bars' */
  background: #4CA8D1;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
  background: #AAA;
}

/*adds buffer between rows*/
.top-buffer { margin-top:15px; }

#logo {
	/*font: 2em Georgia, "Times New Roman", Times, serif;*/
	font: 2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0.5em 15px 2px;
	float:left;
}
#navigation {
	padding: 5px 5px 7px 3em;
	float: right;
	}
	#navigation A {
	color: #9BCEE9;
	font-size: 200%
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	margin-right: 1em;
	}
	#navigation A:hover {
		color: #033;
		text-decoration: none;
	}
	#navigation A.current ,
	#navigation A.current:hover {
		color: #C30;
	}