
{% extends 'eventvisualizer/navbar.html' %} 

{% block head %}
<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- BOOTSTRAP -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{%static 'eventvisualizer/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{%static 'eventvisualizer/bootstrap/css/bootstrap-theme.min.css' %}">
  <script type="text/javascript" src="{% static 'eventvisualizer/bootstrap/js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'eventvisualizer/font-awesome/css/font-awesome.min.css' %}" >
  <link rel="stylesheet" href="{%static 'eventvisualizer/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'eventvisualizer/css/account_style.css' %}">


  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %} {% endblock %}
</head>
{% endblock %} {% block nav_body %}

<body>
  {% block body %} {% if messages %}
  <div>
    <strong>Messages:</strong>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% block content %} {% endblock %} {% endblock %} {% block extra_body %} {% endblock %}
</body>

</html>

{% endblock %}

