{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block login_active %}
	class="active"
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="inset">
    <a id="google_login" href="{% provider_login_url "google" %}" class="btn social_btn google_btn"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a id="facebook_login" href="{% provider_login_url "facebook" %}" class="btn social_btn facebook_btn"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a id="osm_login" href="/edsm/login/openstreetmap"><img src="{%static 'eventvisualizer/css/images/osm_logo.svg' %}" class="osm_btn"></a>
      <hr class="login_hr">
      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
            <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
            <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>
            <div class="remember-forgot-section rem_area">
                <input id="id_remember" class="remember_checkbox" name="remember" type="checkbox" />
                <label for="id_remember" class="remember_label">Remember Me</label>
                <a class="forgot forgot_text" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn submit_btn" type="submit">{% trans "Login" %}</button>
        </form>

        <div class="footnote no_account_text">
            Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a>
        </div>
    </div>
{% endblock %}

