{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="inset_pw">
    <h1>{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
        <input id="id_oldpassword" class="pw-input" name="oldpassword" placeholder="Current Password" type="password" required /></p>
     <input id="id_password1" class="pw-input" name="password1" placeholder="New Password" type="password" required /></p>
    <input id="id_password2" class="pw-input" name="password2" placeholder="New Password (again)" type="password" required /></p>
        <button class="btn submit_btn" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
 </div>
{% endblock %}
