{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="inset_signin">
    <h4>SIGN UP </h4>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
        <form class="singup" method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}
            {{ form.non_field_errors }}
            <input id="id_username" class="login-input" maxlength="30" name="username" placeholder="Username" type="text" />{{ form.username.errors }}<br>
            <input id="id_email" class="login-input" maxlength="30" name="email" placeholder="Email" type="text" />{{ form.email.errors }}<br>
            <input id="id_first_name" class="login-input" maxlength="30" name="first_name" placeholder="First name" type="text" />{{ form.first_name.errors }}<br>
            <input id="id_last_name" class="login-input" maxlength="30" name="last_name" placeholder="Last name" type="text" />{{ form.last_name.errors }}<br>
            <input id="id_password1"  class="login-input" name="password1" placeholder="Password" type="password" />{{ form.password1.errors }}<br>
            <input id="id_password2"  class="login-input" name="password2" placeholder="Confirm password" type="password" />{{ form.password2.errors }}<br>

          <button class="btn submit_btn" type="submit">{% trans "Sign Up" %}</button>
        </form>
</div>
{% endblock %}
