{% extends 'account/base.html' %} 
{% block initialize %}

{% block about_active %} class="active" {% endblock %}

{% block content %}

<p style="align:center; margin:20px;">

<h3 style="align:center; margin:20px;">About us</h3>
    <p style="align:center; margin:20px;">This application was developed by three students during a project at the Chair of Cartography, TU Munich.
    <br>
    <br>
The website consists of two main parts. The first part displays events which have been saved from different sources on OpenStreetMap. The other part of the application consists of detecting events from social media. This means that we use the API of Facebook, Twitter, Flickr and Xing to detect events which can be saved to an OpenStreetMap server. Saving this event gives other users the opportunity to find this event and may participate or they can see what happened in the past. 
<br>
<br>
This tool extracts meaningful volunteered geographic information (VGI) about any kind of events from different social media platforms and analyse the collected data. After analyzing the data, clusters can be found and these clusters are handled as event. 
The area of this application is currently restricted to Munich in Germany and its surrounding areas. 
<br>
<br>
For feedback or questions please contact us 
<a>openeventmaptum@gmail.com</a>
 </p>

 </p>
{% endblock %}

{% endblock %}