 {% extends 'eventvisualizer/navbar.html' %}
  {% block head %}
 {% load staticfiles %} 
  {% load leaflet_tags %} 
  {% leaflet_js plugins="ALL" %} 
  {% leaflet_css plugins="ALL" %}
<html>

<head>
    <meta charset="UTF-8">

    <title>Social Media Event Map</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{%static 'eventvisualizer/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'eventvisualizer/bootstrap/css/bootstrap-theme.min.css' %}">
    <script type="text/javascript" src="{% static 'eventvisualizer/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="{% static 'eventvisualizer/datepicker/bootstrap-datepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'eventvisualizer/datepicker/bootstrap-datepicker3.css' %}" />
    <script type="text/javascript" src="{% static 'eventvisualizer/datepicker/datepicker.js' %}"></script>

    <link rel="stylesheet" href="{% static 'eventvisualizer/font-awesome/css/font-awesome.min.css' %}" />


    <!-- TWITTER ZEUG -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <!-- MAP STUFF -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <link rel="stylesheet" href="{%static 'eventvisualizer/leaflet/css/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{%static 'eventvisualizer/leaflet/css/MarkerCluster.Default.css' %}">
    <script type="text/javascript" src="{% static 'eventvisualizer/leaflet/js/leaflet.markercluster.js' %}"></script>

    <script type="text/javascript" src="{% static 'eventvisualizer/leaflet/js/leaflet-legend.js' %}"></script>
    <link rel="stylesheet" href="{%static 'eventvisualizer/leaflet/css/leaflet-legend.css' %}">

    <link rel="stylesheet" href="{%static 'eventvisualizer/leaflet/css/leaflet.awesome-markers.css' %}">
    <script type="text/javascript" src="{% static 'eventvisualizer/leaflet/js/leaflet.awesome-markers.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'eventvisualizer/leaflet/js/leaflet-heat.js' %}"></script>

    <script type="text/javascript" src="{% static 'eventvisualizer/helper.js' %}"></script>
    <script type="text/javascript" src="{% static 'eventvisualizer/token.js' %}"></script>
    <script type="text/javascript" src="{% static 'eventvisualizer/document.js' %}"></script>
    <script type="text/javascript" src="{% static 'eventvisualizer/categories.js' %}"></script>
    <script type="text/javascript" src="{% static 'eventvisualizer/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'eventvisualizer/search_buttons.js' %}"></script>

    <link rel="stylesheet" href="{%static 'eventvisualizer/css/main.css' %}"> {% block initialize %} {% endblock %}

</head>
<div id="grayBackground">
{% endblock %} {% block nav_body %}

<body>
    <div class="container-fluid">
        <div class="row row-full">
            <!--LEFT PANE-->
            <div class="col-sm-4">
                <div class="leftside">
                    {% block left_content %} {% endblock %}
                    <div id="" style="overflow-y: scroll; height:500px;">
                        <ul id="Additional_Info">
                        </ul>
                    </div>
                </div>
            </div>

            <!--RIGHT PANE-->
            <div class="col-sm-8">
                <div id="legend_place"></div>
                <div id="map">
                    {% leaflet_map "main" callback="window.initialize" %}
                </div>
            </div>
        </div>
    </div>
	
</body>


</div>

<div id="loadingDiv"></div>
</html>

{% endblock %}