{% load staticfiles %}
 {% block head %}
 {% endblock %}

<div id="menu" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 15px; padding-left: 10px;margin-right: 30px;" href="#">SocialMediaEventMap</a>
    </div>
    <ul class="nav navbar-nav">
      <li {% block database_active %}{% endblock %}> <a href='{% url "search_events" %}' data-value=""><i class="fa fa-search" aria-hidden="true"></i> SEARCH EVENTS</a></li>
      <li{% block new_events_active %}{% endblock %}><a href='{% url "new_events" %}' data-value=""><i class="fa fa-clock-o" aria-hidden="true"></i> REAL-TIME EVENTS</a></li>
        <li {% block about_active %}{% endblock %}><a href='{% url "about" %}' data-value=""><i class="fa fa-book" aria-hidden="true"></i> ABOUT</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if not user.is_authenticated %}
      <li {% block signin_active %}{% endblock %}><a href='/edsm/accounts/signup'><span class="fa fa-user"></span> Sign Up</a></li>
      <li {% block login_active %}{% endblock %}><a href='/edsm/accounts/login'><span class="fa fa-sign-in"></span> Login</a></li>
      {% endif %} {% if user.is_authenticated %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-user"></span> {{ user.get_username }}
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="z-index: 999;">
          <li {% block pw_change_active %}{% endblock %}><a href='/edsm/accounts/password/change' data-value="pw_change">CHANGE PASSWORD</a></li>
          <li {% block logout_active %}{% endblock %}><a href='/edsm/accounts/logout' data-value="logout">LOGOUT</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
</div>


{% block nav_body %}{% endblock %}
