{% extends 'eventvisualizer/base_map.html' %} 

{% block initialize %}
    <script type="text/javascript">
		function initialize(map, options) {
			//createLegend();
			setDjangoInput("{{content}}", "{{query}}", "{{social_media}}", "New_Events");
			setInitialValueForNewEvents("{{name}}", "{{startdate}}", "{{enddate}}");
			map_init(map,options);
		}
	</script>
{% endblock %}


{% block new_events_active %}
	class="active"
{% endblock %}

{% block left_content %}
<form action="" method="POST">
	{% csrf_token %}

	<h4>Real-Time Event Search</h4>
	<!--SEARCH-->
	<div class="row">
		<div class="col-md-12">
			<div class="input-group search-input">
				<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input class="form-control" id="id_event_name" value="" maxlength="100" name="event_name" type="text" required placeholder="Input keywords for event search">
			</div>
						<div class="input-group search-input">
							<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<input type="text" class="form-control" id="id_start_date" value="" name="date" placeholder="Startdate (DD/MM/YYYY)">
						</div>
						<div class="input-group search-input">
							<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
							<input type="text" class="form-control" id="id_end_date" value="" name="date" placeholder="Enddate (DD/MM/YYYY)"><br>
						</div>
		</div>
	</div>
	<!--SOCIAL MEDIA SEARCH BUTTONS-->
	<div class="row top-buffer">
		<div class="btn-group btn-group-round btn-block pad search-input">
			<button id="search_facebook" type="button" name="SubmitBtn" onclick="searchFacebook()" class="btn sm"><i class="fa fa-facebook-official"></i> Facebook</button>
			<button id="search_twitter" type="button" name="SubmitBtn" onclick="searchTwitter()" class="btn sm"><i class="fa fa-twitter"></i> Twitter</button>
			<button id="search_flickr" type="button" name="SubmitBtn" onclick="searchFlickr()" class="btn sm"><i class="fa fa-flickr"></i> Flickr</button>
			<button id="search_xing" type="button" name="SubmitBtn" onclick="searchXing()" class="btn sm"><i class="fa fa-xing"></i> XING</button>
			<button id="clear_form" type="button" name="SubmitBtn" onclick="clearForm()" class="btn sm"><i class="fa fa-trash"></i> CLEAR</button>
		</div>
		<input class="btn save" type="button" data-toggle="modal" data-target="#saveEvent" id="show_save_form" value="Save Event" />
	</div>
<div id="loading">
	Loading events from social media...
	<i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i>
</div>


<!--MODAL DIALOGUE FOR SAVING EVENTS-->
{% if user.is_authenticated %}
  <div class="modal fade" id="saveEvent" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Save Event</h4>
        </div>
        <div class="modal-body">
			<h6> Event Name: </h6>	
			<input class="form-control" id="id_ev_name"> 
			<h6> Comment: </h6>	
			<input class="form-control" id="id_ev_comment"> 
			 <h6 class="top-buffer">Category: </h6>
			<select class="form-control" id="id_ev_category" onchange="setSubcategoriesForCurrentValue()"></select>
			 <h6 class="top-buffer">Subcategory: </h6>
			<select class="form-control" id="id_ev_subcategory"></select>
			 <h6 class="top-buffer">Howoften: </h6>
			<select class="form-control" id="id_ev_howoften"></select>
        </div>
        <div class="modal-footer">
		<input id="save_event" class="btn btn-default" data-dismiss="modal" value="Save">	
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  {% else %}
   <div class="modal fade" id="saveEvent" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login required</h4>
        </div>
        <div class="modal-body">
	 <div class="alert alert-warning">
   	  <strong>Warning!</strong> You must be logged in to save an event to the database.
        </div>
			 Please login or sign up to continue.
		<br> <a href='/edsm/accounts/login' class="btn btn-info" data-value="about" role="button">LOGIN</a>
		 <a href='/edsm/accounts/signup' class="btn btn-info" data-value="about" role="button">SIGN UP</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

{% endif %}

{% endblock %}