{% extends 'eventvisualizer/base_map.html' %} {% block initialize %}
<script type="text/javascript">
		function initialize(map, options) {
			//generateLegend();
			setDjangoInput("{{content}}", "{{query}}", "{{social_media}}", "Database_Events");
			map_init(map,options);
		}
	</script> {% endblock %} 
	{% block database_active %} class="active" {% endblock %}
	 {% block left_content %}
<form>
	{% csrf_token %}

	<h4>Search for Events</h4>
	<!--SEARCH-->
	<div class="row">
		<div class="col-md-12">
			<div class="input-group search-input">
				<span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input class="form-control" id="id_event_name" value="" maxlength="100" name="event_name" type="text" required placeholder="Input keywords for event search">
			</div>
			<div class="input-group search-input">
				<span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></span>
				<!--<input class="form-control" id="id_category" value="" maxlength="100" name="event_name" type="text" required placeholder="Category"> -->
				<select class="form-control" id="id_category" ></select>
			</div>
			<div class="input-group search-input">
				<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				<input type="text" class="form-control" id="id_start_date" value="" name="date" placeholder="Startdate (DD/MM/YYYY)">
			</div>
			<div class="input-group search-input">
				<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				<input type="text" class="form-control" id="id_end_date" value="" name="date" placeholder="Enddate (DD/MM/YYYY)"><br>
			</div>
		</div>
	</div>

	<!--DATEPICKER-->
	<div class="bootstrap-iso">
		<div class="row top-buffer search-input">
			<div class="row pad inline-block">
				<div class="top-buffer col-md-12">
					<button type="button" id="search_database" onclick="searchSocialMedia('Database')" class="btn sm edsm"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
					<button type="reset" class="btn sm edsm"><i class="fa fa-trash"></i> Reset</button>
					<!--<button id="search_database" name="SubmitBtn" class="btn"><i class="fa fa-search" aria-hidden="true"></i> Search</button>-->
					<!--<input id="search_database" class="btn" value="Search" name="SubmitBtn">
				<button type="reset" class="btn"> Clear</button>-->
				</div>
			</div>
		</div>
	</div>
</form>

<div id="loading">
	Loading events from database...
	<i class="fa fa-spinner fa-pulse fa-fw fa-2x"></i>
</div>

{% endblock %}