
.marker-cluster {
	background-clip: padding-box;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster div {
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	}


.marker-cluster span {
	vertical-align: middle;
	}


.marker-cluster-smaller-20 div {
	background-color: rgba(95, 217, 28, 0.8);
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

.marker-cluster-smaller-20 span {
	line-height: 30px;
}

.marker-cluster-smaller-40 div {
	background-color: rgba(142, 221, 27, 0.8);
	width: 35px;
	height: 35px;
	border-radius: 35px;
}

.marker-cluster-smaller-40 span {
	line-height: 35px;
}


.marker-cluster-smaller-60 div {
	background-color: rgba(192, 226, 26, 0.8);
	width: 40px;
	height: 40px;
	border-radius: 40px;
}

.marker-cluster-smaller-60 span {
	line-height: 40px;
}

.marker-cluster-smaller-80 div {
	background-color: rgba(231, 220, 25, 0.8);
	width: 45px;
	height: 45px;
	border-radius: 45px;
}

.marker-cluster-smaller-80 span {
	line-height: 45px;
}

.marker-cluster-smaller-100 div {
	background-color: rgba(236, 175, 24, 0.8);
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.marker-cluster-smaller-100 span {
	line-height: 50px;
}


.marker-cluster-bigger-100 div {
	background-color: rgba(240, 128, 22, 0.8);
	width: 55px;
	height: 55px;
	border-radius: 55px;
}

.marker-cluster-bigger-100 span {
	line-height: 55px;
}



/*.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	border-radius: 20px;
	}

.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	width: 30px;
	height: 30px;
	border-radius: 30px;
	}

.marker-cluster-small span {
	line-height: 30px;
	}


.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	border-radius: 40px;
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	width: 40px;
	height: 40px;
	border-radius: 40px;
	}

.marker-cluster-medium span {
	line-height: 40px;
	}


.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	border-radius: 60px;

	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	}

.marker-cluster-large span {
	line-height: 50px;
	}
*/



	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

